<div id="sp-sale-message-app-embed"></div>
{% schema %}
  {
    "name": "Sales Message by OneSale",
    "target": "body",
    "stylesheet": "bundle.css",
    "javascript": "bundle.js",
    "settings": []
  }
{% endschema %}
